.Project {
    position: absolute;
    top:0;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.ProjectList {
    position: fixed;
    height: calc(100vh - 110px);
    width: calc(calc(100vw - 80px) / 3);
    min-width: 405px;
    top: 90px;
    left: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
  

    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
    font-size: 15px;
}

.folders {
    border-right: 2px solid #d0d0d0;
}

.folders, .files {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100vh - 110px);

    backface-visibility: hidden;
    will-change: overflow;
    overflow: auto;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    padding-bottom: 100px;
}

.files::-webkit-scrollbar, .scrollable2::-webkit-scrollbar,
.folders::-webkit-scrollbar, .scrollable2::-webkit-scrollbar {
    display: none;
}

.entryHeader {
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0 10px;
}

.entry {
    padding: 5px 10px;
}

.entryInner {
    display: flex;
    flex-direction: row;
    height: 25px;
    align-items: center;
    cursor: pointer;
}

.entry:hover, .active{
    background-color: rgb(230, 230, 230);
}


.folders p {
    white-space: nowrap;
}


.listImg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.arrowImg {
    width: 8px;
    margin-left: auto;
    padding-top: 2px;
}

.listImg, .arrowImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listImg img, .arrowImg img {
    width: 100%;
}

.listImg .img  {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*Project Image*/

.imageDisplay {
    width: calc(calc(100vw - 70px) / 1.5);
    position: absolute;
    top: 0;
    right:0;
}

.projectImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
    margin-top: 90px;
    margin-bottom: 20px;
}

.horizontal {
    max-width: 80%;
}

.vertical {
    max-width: 49%;
}

.projectImage div {
    padding:7px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
    max-height: calc(100vh - 110px);
    max-width: 100%;
}

.projectImage img{
    max-width: 100%;
    max-height: 100%;
}


.rows {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}



