@font-face {
  font-family: 'Circa';
  src: url('font/Cirka-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circa';
  src: url('font/Cirka-Bold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circa';
  src: url('font/Cirka-Light.woff2');
  font-weight: 300;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');


html,
body {
  padding: 0;
  margin: 0;
 /* font-family: 'Circa', Arial, serif;*/
 font-family: 'Xanh Mono', 'Circa', monospace;
  font-weight: 400;
  color: rgb(255, 16, 12);
  letter-spacing: -0.01em;

  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 16, 12);
    background: black;
  }
}
